<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Description</ion-title>
    <ion-buttons slot="end">
      <ion-button class="btn_close" (click)="closeModal()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="v_description">
              <p><span class="font_bold">Completed Guest Advise Form</span> must be submitted two (2) working days before guests’ arrival for approval.</p>
              <p>The Unit Owner/SPA must provide an on-site Contact Person, Name and Contact Number for their guests to contact upon 
                arrival and for the duration of their stay in Azure. Unit Owner/ SPA is responsible of informing their guests that 
                their presence at Azure is subject to the House Rules and Regulations of AURCC.</p>
              <p>The Unit Owner/ SPA must attach herewith a photo/scan copy of their visitors’/guests’ Passport for Foreigners, Gov‘t Issued ID for locals.</p>
              <p>Please bring valid ID each to present for verification and to deposit in exchange of visitors pass at the Concierge for check-in.</p>
              <p>The Unit Owner / SPA must remind their guest to bring and deposit individual ID’s depending on their bedroom. For Foreigners, 
                they need to deposit photocopy of their passport. For Locals they need to deposit their Government issued ID’s while they are 
                staying inside the premises of the property.</p>
              <p>Once request is approved, the Unit Owner will receive an email notification as well as the Primary Guest. The email to Primary Guest contains 
                the PDF Barcoded Approved GAF that should be printed to present to this to the Main Entrance Gate on the day of their arrival.</p>
              <p>On the day of the arrival of the Unit Owner's/SPA‘s Visitor/Guest at Azure, they will then present the approved Guest Advise 
                Form at the Main Entrance Gate to be allowed entry to Azure. NO APPROVED GUEST ADVISE FORM PRESENTED BY GUEST, NO ENTRY.</p>
              <p>For Unit Owners who own a carpark slot and wish to authorize their visitors/ guests to utilize the parking slot, please 
                indicate your parking slot number and write the instructions in the <span class="font_bold">Additional Remarks</span> section below.</p>
  
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
