<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons size="small" slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-button slot="end" (click)="openAmenityBookNow()">Book</ion-button>
    <ion-title class="header_title">Azure Beach</ion-title>
  </ion-toolbar>
</ion-header>
    
<ion-content class="card-background-page">
  <ion-card>
    <ion-card-header class="pb-5">
      <div class="carousel">
        <ion-slides pager>
          <ion-slide>
            <div class="carousel_img1"></div>
          </ion-slide>
          <ion-slide>
            <div class="carousel_img2"></div>
          </ion-slide>
          <ion-slide>
            <div class="carousel_img3"></div>
          </ion-slide>
          <ion-slide>
            <div class="carousel_img4"></div>
          </ion-slide>
        </ion-slides>
      </div>
      <ion-card-subtitle>Slide to right <ion-icon class="icon_arrow" name="arrow-forward"></ion-icon></ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content class="pt-0">
      <ion-grid class="nopad">
        <ion-row class="a_row">
          <ion-col size="5">
            <p>Status</p>
          </ion-col>
          <ion-col size="7">
            <p>Active</p>
          </ion-col>
        </ion-row>
        <ion-row class="a_row">
          <ion-col size="5">
            <p>Location</p>
          </ion-col>
          <ion-col size="7">
            <p>Main Amenity Center</p>
          </ion-col>
        </ion-row>
        <ion-row class="a_row">
          <ion-col size="5">
            <p>Pre Booking</p>
          </ion-col>
          <ion-col size="7">
            <p>150 Days</p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid class="table_schedule">
          <ion-row class="a_row">
              <ion-col size="12" class="table-head">
                <p>Schedule</p>
              </ion-col>
              <ion-col size="2">
                <p class="t_center">S</p>
              </ion-col>
              <ion-col size="2">
                <p class="t_center">T</p>
              </ion-col>
              <ion-col size="2">
                <p class="t_center">W</p>
              </ion-col>
              <ion-col size="2">
                <p class="t_center">TH</p>
              </ion-col>
              <ion-col size="2">
                <p class="t_center">F</p>
              </ion-col>
              <ion-col size="2">
                  <p class="t_center">M</p>
                </ion-col>
            </ion-row>
            <ion-row class="a_row">
              <ion-col size="2" class="c_center">
                  <ion-checkbox checked="true"></ion-checkbox>
              </ion-col>
              <ion-col size="2" class="c_center">
                  <ion-checkbox checked="true"></ion-checkbox>
              </ion-col>
              <ion-col size="2" class="c_center">
                  <ion-checkbox checked="true"></ion-checkbox>
              </ion-col>
              <ion-col size="2" class="c_center">
                  <ion-checkbox checked="true"></ion-checkbox>
              </ion-col>
              <ion-col size="2" class="c_center">
                  <ion-checkbox checked="true"></ion-checkbox>
              </ion-col>
              <ion-col size="2" class="c_center">
                  <ion-checkbox checked="true"></ion-checkbox>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <p class="p_note">Note: Mondays are open only during holidays.</p>
              </ion-col>
            </ion-row>
      </ion-grid>

    </ion-card-content>
    <div class="cover_checkbox"></div>
  </ion-card>


  <div class="v_personal">
    <div class="v_title_detail">Description</div>
    <div class="v_details">
      <ion-grid class="nopad">
        <ion-row class="v-row">
          <ion-col size="12">
            <p class="text_justify text_info">The true centerpiece of the Azure Urban Resort Residences is the Azure Beach - an iconic man-made beach facility with fine white sand, undulationg
              waves and waterfalls. <span class="font_semibold"> The First in the South.</span>
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div class="v_personal">
    <div class="v_title_detail">Terms & Conditions</div>
    <div class="v_details">
      <ion-grid class="nopad">
        <ion-row class="v-row">
          <ion-col size="12">
            <p class="text_justify text_info">
                1. Operating hours are strictly from 7:00 AM to 7:00 PM for the Wave Pool and Children's Beach while the Lap Pool is open 7:00 AM to 9:00 PM.<br>
                2. The swimming pool is reserved for use of Azure residents and their endorsed guests through the PMO.<br>
                3. All pool users are required to register at the registration desk. Each swimmer will be issued a disposable wristband. Guest swimmers 
                (regardless of age) exceeding the maximum number of FREE swim band per unit (1BR = 2 FREE; 2BR = 4 FREE; 3BR = 6 FREE) must pay Php 250.00 per person 
                per shift per day. Strictly, NO REFUND.<br>
                4. Pool users are advised to take all necessary safety precautions. The Developer / Condominium Corp. / Property Administration Office shall not be 
                liable for any untoward incident, accident, injury or death that may arise from the use of the swimming pool.<br>
                5. Children under age of twelve (12) must be accompanied by adults at all times. Parents/Guardians must accompany and supervise their children while 
                in the pool / pool area and remain with them for the duration thereof. Children are not allowed to swim wearing disposable or cloth diapers.<br>
                6. Proper swimwear is required. All persons should wear clothing designed as swim wear so as to prevent damage to the swimming pool filter system.
                7. All types of foods and drinks shall be strictly prohibited in the pool and pool deck area.<br>
                8. Water sports are not allowed.<br>
                9. Expectorating or blowing of nose in the pool is strictly prohibited.<br>
                10. Persons observed by the pool attendants / lifeguards to have a contagious viral or skin disease, open wounds, cold sores, inflamed eyes, or 
                wearing bandages will not be allowed in the pool.<br>
                11. The person signing the swim waiver from must be an adult, and if children are suing the swimming pool area, the form must be signed by their parent 
                or legal guardian. The resident/s and guest/s agree to abide by the rules stated herein and in the House Rules of Azure Urban Resort Residences.<br>
                12. In any case of lightning occurrence, everyone will be required to vacate the pool areas for your safety; Purchased swim bands would still ne non-refundable.<br>
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
