<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons size="small" slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title class="header_title">Rule Details</ion-title>
    </ion-toolbar>
  </ion-header>
    
<ion-content class="card-background-page">
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Rule Title</ion-card-subtitle>

        </ion-card-header>
      
        <ion-card-content>
          <p><span class="font_bold">Valued Unit Owners and Residents, </span></p>
          <p class="mt-10">We are pleased to announce that <span class="font_bold">Rule Title</span> has started its 24-hr operations 
            today, <span class="font_bold">July 11, 2019, 9:00 AM, Maldives Retails Unit 08.</span> <br>
            <span class="font_bold">Rule Title</span> offers a mix of Filipino and Chinese products at the ground floor. 
            The second floor of thestore offers food and beverage with authentic Chinese noodles, dumpling and fried chicken.<br>
            Please come and visit <span class="font_bold">Rule Title at Maldives Retail 08.</span>
          </p>

        </ion-card-content>
        
        <ion-chip class="ion_chip">
            <ion-icon name="download"></ion-icon>
            <ion-label>Download</ion-label>
        </ion-chip>
      </ion-card>
</ion-content>
