<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons size="small" slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title class="header_title">Visitor Request Details</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content class="card-background-page">
  <ion-grid class="nopad">
    <ion-row>
      <ion-col size="12" class="nopad">
        <div class="visitor_title_div">
            <h2 class="visitor_title">Guest Advice Form</h2>
            <div class="underline"></div>
            <h3 class="visitor_type_title">Staycation</h3>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="show_modal">
    <a (click)="openModal()">Show Description</a>
  </div>

  <div class="v_personal">
    <div class="v_title_detail">Visitor</div>
    <div class="v_details">
      <ion-grid class="nopad">
        <ion-row class="v-row">
          <ion-col size="6">
            <p>Visitor Advise No.:</p>
          </ion-col>
          <ion-col size="6">
            <p class="text-right">123456789</p>
          </ion-col>
        </ion-row>
        <ion-row class="v-row">
          <ion-col size="6">
            <p>Tower Unit No.:</p>
          </ion-col>
          <ion-col size="6">
            <p class="text-right">RE/20/101</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>


  <div class="v_personal">
    <div class="v_title_detail">Arrival/Departure Details</div>
    <div class="v_details">
      <ion-grid class="nopad">
        <ion-row class="v-row">
          <ion-col size="6">
            <p>Arrival Date:</p>
          </ion-col>
          <ion-col size="6">
            <p class="text-right">July 1, 2019</p>
          </ion-col>
        </ion-row>
        <ion-row class="v-row">
          <ion-col size="6">
            <p>Arrival Time:</p>
          </ion-col>
          <ion-col size="6">
            <p class="text-right">12:00 AM</p>
          </ion-col>
        </ion-row>
        <ion-row class="v-row">
          <ion-col size="6">
            <p>Departure Date:</p>
          </ion-col>
          <ion-col size="6">
            <p class="text-right">July 2, 2019</p>
          </ion-col>
        </ion-row>
        <ion-row class="v-row">
          <ion-col size="6">
            <p>Departure Time:</p>
          </ion-col>
          <ion-col size="6">
            <p class="text-right">12:00 AM</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>


  <div class="v_personal">
    <div class="v_title_detail">Primary Visitor Details</div>
    <div class="v_details">
      <ion-grid class="nopad">
        <ion-row class="v-row">
          <ion-col size="6">
            <p>Name of Primary Visitor:</p>
          </ion-col>
          <ion-col size="6">
            <p class="text-right">Hanah Salazar</p>
          </ion-col>
        </ion-row>
        <ion-row class="v-row">
          <ion-col size="6">
            <p>Nationality:</p>
          </ion-col>
          <ion-col size="6">
            <p class="text-right">Filipino</p>
          </ion-col>
        </ion-row>
        <ion-row class="v-row">
          <ion-col size="6">
            <p>Contact Noumber:</p>
          </ion-col>
          <ion-col size="6">
            <p class="text-right">09123456789</p>
          </ion-col>
        </ion-row>
        <ion-row class="v-row">
          <ion-col size="6">
            <p>Email Address:</p>
          </ion-col>
          <ion-col size="6">
            <p class="text-right">email@email.com</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div class="v_personal">
    <div class="v_title_detail">Primary Visitor Details</div>
    <div class="v_details">
      <ion-grid class="nopad">
        <ion-row class="v-row">
          <ion-col size="3">
            <p class="font_semibold">Name</p>
          </ion-col>
          <ion-col size="3">
            <p class="font_semibold">Type</p>
          </ion-col>
          <ion-col size="3">
            <p class="font_semibold">Checked In</p>
          </ion-col>
          <ion-col size="3">
            <p class="font_semibold">Checked Out</p>
          </ion-col>
        </ion-row>
        <ion-row class="v-row">
          <ion-col size="3">
            <p>Hanah Salazar</p>
          </ion-col>
          <ion-col size="3">
            <p>Adult</p>
          </ion-col>
          <ion-col size="3">
            <p>06/11/19</p>
          </ion-col>
          <ion-col size="3">
            <p>07/11/19</p>
          </ion-col>
        </ion-row>
        <ion-row class="v-row">
          <ion-col size="3">
            <p>Duane Aman</p>
          </ion-col>
          <ion-col size="3">
            <p>Adult</p>
          </ion-col>
          <ion-col size="3">
            <p>06/11/19</p>
          </ion-col>
          <ion-col size="3">
            <p>07/11/19</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div class="v_personal">
    <div class="v_title_detail">To be Filled By Admin</div>
    <div class="v_details">
      <ion-grid class="nopad">
        <ion-row class="v-row">
          <ion-col size="6">
            <p>Remark:</p>
          </ion-col>
          <ion-col size="6">
            <p class="text-right">For Test Only</p>
          </ion-col>
        </ion-row>
        <ion-row class="v-row">
          <ion-col size="6">
            <p>Status:</p>
          </ion-col>
          <ion-col size="6">
            <p class="text-right">Approved</p>
            <p class="text-right">Admin: Azure Urban</p>
            <p class="text-right">06/11/19 4:00 PM</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

