@font-face {
    font-family: 'Assistant_light';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/assets/fonts/assistant-light.woff2);
}
@font-face {
    font-family: 'Assistant_reg';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/assistant-reg.woff2);
}
@font-face {
    font-family: 'Assistant_semibold';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/assets/fonts/assistant-semibold.woff2);
}
@font-face {
    font-family: 'Assistant_bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/fonts/assistant-bold.woff2);
}
@font-face {
    font-family: 'Assistant_extrabold';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/assets/fonts/assistant-extrabold.woff2);
}
ion-content {font-family: 'Assistant_reg';}

.font_reg {font-family: 'Assistant_reg';}
.font_light {font-family: 'Assistant_light';}
.font_semibold {font-family: 'Assistant_semibold';}
.font_bold {font-family: 'Assistant_bold';}
.font_extrabold {font-family: 'Assistant_extrabold';}


.header_title {
    text-align: center;
}
ion-back-button {
    position: absolute;
}
.nopad {padding: 0;}
.searchbars {
    --ion-color-base: #676975 !important;
    --ion-color-base-rgb: var(--ion-color-dark-rgb, 34, 36, 40) !important;
    --ion-color-contrast: #ffffff !important;
    --ion-color-contrast-rgb: var(--ion-color-dark-contrast-rgb, 255, 255, 255) !important;
    --ion-color-shade: var(--ion-color-dark-shade, #1e2023) !important;
    --ion-color-tint: var(--ion-color-dark-tint, #383a3e) !important;
}

.card-background-page {
    

    .list-notice ion-item {
        color: #3e3e3e;
        font-size: 15px;
    }
    .img_arrow {
        width: 17px;
        position: absolute;
        top: 16px;
        right: 20px;
    }

}