<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons size="small" slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title class="header_title">Rules</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar class="searchbars" color="dark"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
    
  <ion-content class="card-background-page">
      <ion-list class="list-notice">
          <ion-item (click)="openRulesDetails()">Rule 1
              <img class="img_arrow" src="assets/arrow_right_blue.png">
          </ion-item>
          <ion-item>Rule 2
              <img class="img_arrow" src="assets/arrow_right_blue.png">
          </ion-item>
          <ion-item>Rule 3
              <img class="img_arrow" src="assets/arrow_right_blue.png">
          </ion-item>
          <ion-item>Rule 4
              <img class="img_arrow" src="assets/arrow_right_blue.png">
          </ion-item>
          <ion-item>Rule 5
              <img class="img_arrow" src="assets/arrow_right_blue.png">
          </ion-item>
          <ion-item>Rule 6
              <img class="img_arrow" src="assets/arrow_right_blue.png">
          </ion-item>
          <ion-item>Rule 7
              <img class="img_arrow" src="assets/arrow_right_blue.png">
          </ion-item>
          <ion-item>Rule 8
              <img class="img_arrow" src="assets/arrow_right_blue.png">
          </ion-item>
          <ion-item>Rule 9
              <img class="img_arrow" src="assets/arrow_right_blue.png">
          </ion-item>
          <ion-item>Rule 10
              <img class="img_arrow" src="assets/arrow_right_blue.png">
          </ion-item>
        </ion-list>
</ion-content>
