<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons size="small" slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title class="header_title">Booking</ion-title>
  </ion-toolbar>
</ion-header>
    
<ion-content class="card-background-page">
  <div class="v_personal">
    <div class="v_details">
      <ion-grid class="nopad">
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label class="text_label">Booking Date:</ion-label>
              <ion-datetime class="text_input" value="2019-02-19" placeholder="Select Date"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label class="text_label">Time Slot</ion-label>
              <ion-select placeholder="Select One" class="text_input">
                <ion-select-option value="f">7:00 AM - 12:00 PM</ion-select-option>
                <ion-select-option value="m">2:00 PM - 7:00 PM</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" class="marg0auto">
              <ion-button color="primary" expand="block" class="text_label">Book</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
