<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons size="small" slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title class="header_title">Notices</ion-title>
    </ion-toolbar>
  </ion-header>
    
  <ion-content class="card-background-page">
      <ion-list class="list-notice">
          <ion-item (click)="openRulesList()">Rules
              <img class="img_arrow" src="assets/arrow_right_blue.png">
          </ion-item>
          <ion-item>Notice Board
              <img class="img_arrow" src="assets/arrow_right_blue.png">
          </ion-item>
          <ion-item>News
              <img class="img_arrow" src="assets/arrow_right_blue.png">
          </ion-item>
          <ion-item>Holiday/Important Date
              <img class="img_arrow" src="assets/arrow_right_blue.png">
          </ion-item>
          <ion-item>Important Location
              <img class="img_arrow" src="assets/arrow_right_blue.png">
          </ion-item>
        </ion-list>
</ion-content>
