<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons size="small" slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title class="header_title">Amenity Booking List</ion-title>
  </ion-toolbar>
</ion-header>
    
<ion-content class="card-background-page">
  <ion-list>
    <ion-list-header>UNIT 101</ion-list-header>
    <ion-item (click)="openBookingDetails()">
      <ion-avatar class="avatar_amenities" slot="start">
          <img class="img_amenity" src="/assets/azurebeach.png">
        </ion-avatar>
        <ion-label class="label_div">
          <h2>Azure Beach</h2>
          <p class="text_sublabels"><ion-icon name="calendar"></ion-icon> 24-01-2020</p>
          <p class="text_sublabels"><ion-icon name="time"></ion-icon> 7:00 AM - 12:00 PM</p>
          <img class="img_arrow" src="assets/arrow_right_blue.png">
        </ion-label>
    </ion-item>
    <ion-item (click)="openBookingDetails()">
      <ion-avatar class="avatar_amenities" slot="start">
        <img class="img_amenity" src="/assets/azurebeach.png">
      </ion-avatar>
      <ion-label class="label_div">
        <h2>Azure Beach</h2>
        <p class="text_sublabels"><ion-icon name="calendar"></ion-icon> 03-12-2020</p>
        <p class="text_sublabels"><ion-icon name="time"></ion-icon> 2:00 PM - 7:00 PM</p>
        <img class="img_arrow" src="assets/arrow_right_blue.png">
      </ion-label>
    </ion-item>
    <ion-item (click)="openBookingDetails()">
      <ion-avatar class="avatar_amenities" slot="start">
        <img class="img_amenity" src="/assets/azurebeach.png">
      </ion-avatar>
      <ion-label class="label_div">
        <h2>Azure Beach</h2>
        <p class="text_sublabels"><ion-icon name="calendar"></ion-icon> 03-12-2020</p>
        <p class="text_sublabels"><ion-icon name="time"></ion-icon> 2:00 PM - 7:00 PM</p>
        <img class="img_arrow" src="assets/arrow_right_blue.png">
      </ion-label>
    </ion-item>
    <ion-item (click)="openBookingDetails()">
      <ion-avatar class="avatar_amenities" slot="start">
        <img class="img_amenity" src="/assets/azurebeach.png">
      </ion-avatar>
      <ion-label class="label_div">
        <h2>Azure Beach</h2>
        <p class="text_sublabels"><ion-icon name="calendar"></ion-icon> 03-12-2020</p>
        <p class="text_sublabels"><ion-icon name="time"></ion-icon> 2:00 PM - 7:00 PM</p>
        <img class="img_arrow" src="assets/arrow_right_blue.png">
      </ion-label>
    </ion-item>
    <ion-item (click)="openBookingDetails()">
      <ion-avatar class="avatar_amenities" slot="start">
        <img class="img_amenity" src="/assets/azurebeach.png">
      </ion-avatar>
      <ion-label class="label_div">
        <h2>Azure Beach</h2>
        <p class="text_sublabels"><ion-icon name="calendar"></ion-icon> 03-12-2020</p>
        <p class="text_sublabels"><ion-icon name="time"></ion-icon> 2:00 PM - 7:00 PM</p>
        <img class="img_arrow" src="assets/arrow_right_blue.png">
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
