<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons size="small" slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title class="header_title">Booking Details</ion-title>
  </ion-toolbar>
</ion-header>
    
<ion-content class="card-background-page">
  <ion-card>
    <ion-card-header>
      <img class="img_amenity" src="/assets/azurebeach.png">
      <ion-card-subtitle>Azure Beach</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <ion-grid class="nopad">
          <ion-row>
            <ion-col size="4" class="nopad">
              <p>Booking Date: </p>
            </ion-col>
            <ion-col size="8" class="nopad">
              <p>November 3, 2019</p>
            </ion-col>
            <ion-col size="4" class="nopad">
              <p>Time Slot: </p>
            </ion-col>
            <ion-col size="8" class="nopad">
              <p>7:00 AM - 12:00 PM</p>
            </ion-col>
            <ion-col size="4" class="nopad">
                <p>Stay Duration: </p>
            </ion-col>
            <ion-col size="8" class="nopad">
              <p>July 1, 2019 to July 2, 2019</p>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
