<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="title_header">Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
    <div class="banner-card">
        <ion-grid>
            <ion-row>
                <ion-col size="12" class="col_titles">
                    <div class="img_profile_border">
                        <div class="img_profile"></div>
                    </div>
                    <div class="box_details">
                        <h1 class="title_name">Hanah Salazar</h1>
                        <p class="title_address">New York, USA</p>

                        <div class="number_details">
                            <ion-row>
                                <ion-col size="4">
                                    <p class="t_small">Units</p>
                                    <p class="t_big">1</p>
                                </ion-col>
                                <ion-col size="4">
                                    <p class="t_small">Residents</p>
                                    <p class="t_big">10</p>
                                </ion-col>
                                <ion-col size="4">
                                    <p class="t_small">Parking</p>
                                    <p class="t_big">1</p>
                                </ion-col>
                            </ion-row>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            
        </ion-grid>
    </div>
    <div class="banner_overlay"></div>

    <ion-grid class="grid_details">
        <ion-row class="profile-row">
            <ion-col size="12" class="col-profile-details">
                <p class="profile_type">2nd Owner</p>
                <p class="profile_type_name">Duane Brick</p>
            </ion-col>
            <ion-col size="12" class="col-profile-details">
                <p class="profile_type">Email</p>
                <p class="profile_type_name">email@email.com</p>
            </ion-col>
            <ion-col size="12" class="col-profile-details">
                <p class="profile_type">Gender</p>
                <p class="profile_type_name">Male</p>
            </ion-col>
            <ion-col size="12" class="col-profile-details">
                <p class="profile_type">Contact Number</p>
                <p class="profile_type_name">09123456789</p>
            </ion-col>
            <ion-col size="12" class="col-profile-details">
                <p class="profile_type">Possession</p>
                <p class="profile_type_name">July 1, 2019</p>
            </ion-col>
            <ion-col size="12" class="col-profile-details">
                <p class="profile_type">Occupation</p>
                <p class="profile_type_name">Developer</p>
            </ion-col>
            <ion-col size="12" class="col-profile-details">
                <p class="profile_type">Blood Group</p>
                <p class="profile_type_name">B+ve</p>
            </ion-col>
            <ion-col size="12" class="col-profile-details">
                <p class="profile_type">Date of Birth</p>
                <p class="profile_type_name">July 1, 1997</p>
            </ion-col>
            <ion-col size="12" class="col-profile-details">
                <p class="profile_type">Date of Anniversary</p>
                <p class="profile_type_name">July 2, 2020</p>
            </ion-col>
            <ion-col size="12" class="col-profile-details">
                <p class="profile_type">Intercom Number</p>
                <p class="profile_type_name">1234</p>
            </ion-col>
            <ion-col size="12" class="col-profile-details">
                <p class="profile_type">Nominee</p>
                <p class="profile_type_name">Hakdog</p>
            </ion-col>
            <ion-col size="12" class="col-profile-details">
                <p class="profile_type">Company</p>
                <p class="profile_type_name">Ameritech Global Solutions Inc.</p>
            </ion-col>
        </ion-row>
        </ion-grid>
</ion-content>